<a href="https://colab.research.google.com/github/aish963/python/blob/master/DAY_7_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSIGNMENT 1**

In [3]:
port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
x1=list(port1.keys())
x2=list(port1.values())
port2={  x2[i]:x1[i]  for i in range(len(x1)) }
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

# **ASSIGNMENT 2**

In [4]:
list1=[(1,2),(3,4),(5,6),(4,5)]
res=[ sum(i)  for i in list1 ]
print(res)

[3, 7, 11, 9]

# **ASSIGNMENT 3**

In [5]:
lis=[(1,2,3),[1,2],['a','hit','less']]
res=[]
for i in lis: 
    if type(i)==type(lis): 
        res=res+i
    elif type(i)==tuple:
        res.extend(i)
    else: 
        res.append(i)

print(res)

[1, 2, 3, 1, 2, 'a', 'hit', 'less']

# **FUNCTIONS**

In [6]:
def fun1(a,b):
    c=a+b
    return c
    res=fun1(10,20)+20
    print(res)

def fun1(name,age=32, marks=60):
    print(name,age)
    print(" name age marks")
    fun1("Manish",30,80)
    fun1("Bhaskar")
    fun1("sahil", marks=90)

def fun1(a,*args):
    print(a,args)
fun1(12)
fun1(10,20)
fun1(4,5,1,6,9,4)

12 ()
10 (20,)
4 (5, 1, 6, 9, 4)

# **PASS BY REFERENCE**

In [7]:
def fun1(list1):
    print("inside before appending",list1,id(list1))
    list1.append(30)
    print("After appending", list1, id(list1))
list2=[4,5,6]
fun1(list2)
print("After calling", list2, id(list2))

inside before appending [4, 5, 6] 139620577178184
After appending [4, 5, 6, 30] 139620577178184
After calling [4, 5, 6, 30] 139620577178184

In [10]:
def fun1():
    global k
    k = k+1
    print(k)
k=10
fun1()
print("After calling",k)

11
After calling 11

# **MODULE**

In [11]:
def sum1(a,b):
    c=a+b
    return c
def sub1(a,b):
    c=a-b
    return c
print (sum1(10,30))
print (sub1(60,30))
print (dir())

40
30
['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', '_sh', 'exit', 'fun1', 'get_ipython', 'i', 'k', 'lis', 'list1', 'list2', 'port1', 'port2', 'quit', 'res', 'sub1', 'sum1', 'x1', 'x2']

In [12]:
def multi(a,b):
    c=a*b
    return c
def divide (a,b):
    c=a/b
    print(sum1(90,2))
    print(multi(9,8))

print(sum1(90,2))
print(sub1(8,4))
print(sum1(10,30))
print(dir())
print(multi(9,8))

92
4
40
['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', '_sh', 'divide', 'exit', 'fun1', 'get_ipython', 'i', 'k', 'lis', 'list1', 'list2', 'multi', 'port1', 'port2', 'quit', 'res', 'sub1', 'sum1', 'x1', 'x2']
72